{% extends 'base.html' %}
{% block title %}ABOUT{% endblock %}
{% block content %}
{% load static %}
<br>
<h2>ABOUT PAGE</h2>
<hr>
<img src="{% static '\images\HanoiHospitalArchitecturalDrawing.webp'%}" class="img-fluid container text-center mx-5" alt="Responsive image">
<br>
<br>
<div class=>
    <h2>A LITTLE SOMETHING ABOUT US</h2>
<p style=''>CITY Hospital and research Centre was established in the year 2000, Calicut, India.CITY Hospital has evolved as a centre of excellence in medicine by delivering high-quality healthcare services at affordable cost to the poor in particular and the society at large. The income generated is meant for the orphans and destitute children of ABCD Orphanage and other orphanage
Today, we are a leading healthcare provider in Calicut, equipped with state of the art facilities to deliver the best of services and thereby fulfilling its commitment to the society. This 300-bed hospital, with the expertise of senior consultants, high-quality nursing staff, up to date diagnostic facilities and a committed management has taken giant leaps in its growth to a multi-specialty centre of excellence.

We have an excellent crew consisting of 107 Doctors, 650 Nursing and Paramedical staffs, 325 technical and supportive staffs and 215 administrative staff. Our laboratory is awarded the prestigious accreditation of NABL in 2012. We are on the journey of continuous quality improvement, as of now
final assessment of NABH- SAFE I Accreditation has been completed.

We are running number of paramedical institutions like School of Nursing (GNM), College of Nursing (B. Sc Nursing), College of Pharmacy (D. Pharm, B. Pharm & M. Pharm), and College of Physiotherapy (BPT), and ABCD Academy (B Voc in Dialysis Technology, Diploma in Sterilization Technology etc.)
We believe that each individual is special and deserves the best care possible. We are able to successfully enrich the lives of our patients by providing high quality, yet affordable healthcare.
</p>
</div>
{% endblock %}